<app-header></app-header>
<div [class]="themeService.isDarkTheme ? 'dark-theme' : 'light-theme'">
    <main>
        <section class="hero section-padding">
            <div class="heroText">
                <h1 class="text-white mt-5 mb-lg-4" data-aos-delay="800">
                    Test Application
                </h1>
                <p class="text-secondary-white-color" data-aos-delay="1000">
                    Building a Digital Future Together....
                </p>
            </div>
            <div class="">
                <video autoplay loop muted class="custom-video"
                    poster="../../../assets/videos/792bd98f3e617786c850493560e11c45.jpg">
                    <source src="../../../assets/videos/814dc43e870597176cad645798825c03.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="overlay"></div>
        </section>

        <div class="container-fluid pt-1">
            <div class="row">
                <div class="col-12">
                    <div class="card cardCompanyLogo">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Card Title</h4> -->
                            <div class="image-container">
                                <img src="../../../assets/images/CompanyLogo/cambridge-assessment.png" alt="Image 1">
                                <img src="../../../assets/images/CompanyLogo/citrix.png" alt="Image 2">
                                <img src="../../../assets/images/CompanyLogo/georgia-tech.png" alt="Image 3">
                                <img src="../../../assets/images/CompanyLogo/goldman-sachs.png" alt="Image 4">
                                <img src="../../../assets/images/CompanyLogo/mercedes-benz.png" alt="Image 5">
                                <img src="../../../assets/images/CompanyLogo/walt-disney.png" alt="Image 1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-with-bg mb-5 pb-lg-5">
            <div class="col-md-12">
                <h3 class="card-title">Our Expertise</h3>
            </div>
            <div class="row mt-4">

                <!-- Blockchain Development -->
                <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <span class="large material-icons HomeCardLogo">insert_chart</span>
                                        <h5 class="card-title">Blockchain Development</h5>
                                        <p class="card-text">We have a pool of Blockchain enthusiasts who are ready to take your complex projects on Blockchain
                                            technology.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MetaVerse Development -->
                <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <span class="large material-icons HomeCardLogo">insert_chart</span>
                                        <h5 class="card-title">MetaVerse Development</h5>
                                        <p class="card-text"> We help you build your own 3D reality, immersive user experiences, and limitless ways to communicate with
                                            your customers in the metaverse.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Generative AI Development -->
                <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <span class="large material-icons HomeCardLogo">insert_chart</span>
                                        <h5 class="card-title">Generative AI Development</h5>
                                        <p class="card-text">We specialize in Generative AI development, where machines learn to produce new data similar to the training data. This enables you to create new designs, music, and other creative works</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- AI Development -->
                <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <span class="large material-icons HomeCardLogo">insert_chart</span>
                                        <h5 class="card-title">AI Development</h5>
                                        <p class="card-text">Our team of AI experts can help you leverage the power of Artificial Intelligence to automate your business processes, improve decision-making, and enhance customer experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Software Development -->
                <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <span class="large material-icons HomeCardLogo">insert_chart</span>
                                        <h5 class="card-title">Software Development</h5>
                                        <p class="card-text">We can deliver software solutions that align with your business objectives, whether it involves developing enterprise software applications or creating customer-facing websites.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile App Development -->
                <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <span class="large material-icons HomeCardLogo">insert_chart</span>
                                        <h5 class="card-title">Mobile App Development</h5>
                                        <p class="">We believe building an app needs amalgamation of passion, dedication, and expertise, for better results.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <router-outlet></router-outlet>
    </main>.
</div>

<app-footer></app-footer>