<app-header></app-header>
<section class="section-padding">
    <div class="container mb-5 pb-lg-5">
        <div class="row">
            <div class="col-lg-6 col-12 mt-3 mb-lg-5 d-flex align-items-center">
                <div>
                    <h4>Mobile Application Development</h4>
                    <p class="me-4" data-aos-delay="300">MRD Technologies: Leading Mobile App Development in India.
                        We're
                        your ideal choice for impeccable app development, expanding your audience reach, and boosting
                        business growth. Partner with us to unlock the full potential of your app, just as we've done
                        for
                        countless businesses. Your mobile success story begins here</p>
                    <button class="btnContactUs">Contact Us</button>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
                <img src="../../../assets/images/ServiceComponent/mobile-application-development.png"
                    class="img-fluid team-image" alt="" width="170" height="120">
            </div>
        </div>
    </div>

    <div class="container mb-5 pb-lg-5">
        <div class="row">
            <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                <div class="container ContainerService">
                    <div class="card CardService">
                        <div class="image">
                            <img src="../../../assets/images/ServiceComponent/Android-Img.jpg" alt="">
                        </div>
                        <div class="content">
                            <h5>Android Application Development​</h5>
                            <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                                demonstrate the visual form of a document or a typeface without relying on meaningful
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                <div class="container ContainerService">
                    <div class="card CardService">
                        <div class="image">
                            <img src="../../../assets/images/ServiceComponent/Android-Img.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>This is content</h3>
                            <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                                demonstrate the visual form of a document or a typeface without relying on meaningful
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mt-lg-3 mb-lg-5 d-flex justify-content-center align-items-center">
                <div class="container ContainerService">
                    <div class="card CardService">
                        <div class="image">
                            <img src="../../../assets/images/ServiceComponent/Android-Img.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>This is content</h3>
                            <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                                demonstrate the visual form of a document or a typeface without relying on meaningful
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>








<app-footer></app-footer>